<html>

<link rel="stylesheet" href="../static/style.css" type="text/css">

<div class = "home-menu" style="width:20%;float:left;background-color:rgb(230, 228, 228);height: 800px;">
    <div class="app-title">
        <h1>Menu Button</h1>
        <p> Hello, Dear user {{userid}}</p>
    </div>
    <div>
        <form action="/basic_info" method="POST">
            <input type="submit" value="Basic Info" class="btn btn-primary btn-large btn-block home-btn">       
        </form>
    </div>
    <div>
        <form action="/add_app" method="POST">
            <input type="submit" value="Add App" class="btn btn-primary btn-large btn-block home-btn">       
        </form>
    </div>
    <div>
        <form action="/find_app" method="POST">
            <input type="submit" value="Find App" class="btn btn-primary btn-large btn-block home-btn">       
        </form>
    </div>
    <div>
        <form action="/find_roommate" method="POST">
            <input type="submit" value="Find Roommate" class="btn btn-primary btn-large btn-block home-btn">       
        </form>
    </div>
    <div>
        <form action="/message" method="POST">
            <input type="submit" value="Message" class="btn btn-primary btn-large btn-block home-btn">       
        </form>
    </div>
    <div>
        <form action="/logout" method="POST">
            <input type="submit" value="Log out" class="btn btn-primary btn-large btn-block home-btn">       
        </form>
    </div>

</div>

<div style="width: 80%;float:right;background-color:aquamarine;height: 800px;"> 
    <div class="app-title">
        <h1>Find App in a certain Place</h1>
    </div>
    <div class = "show-context-1" style="width: 50%;float:left;">
        <div class="app-title">
            <h3>Zipcode list</h3>
        </div>
        {% for n in data %}
            <div>{{n}}</div>
        {% endfor %}
    </div>
    <div class = "show-context-1" style="width: 50%;float:right;">
        <div class="app-title">
            <h3>App in that zipcode</h3>
        </div>
        {% for n in data2 %}
            <div>{{n}}</div>
        {% endfor %}
    </div>
    <hr class="home_hr">
    <div style="width: 50%;float:left;">
        <form action="/find_app_zipcode" method="POST">
            <div class = "submit-context">
                <p><strong>Add Zipcode to find apartment:</strong> </p><input type="text" class="login-field" value="" placeholder="zipcode" name="zipcode">
                <input type="submit" value="Show Apt" class="btn btn-primary btn-large btn-block">
            </div>
        </form>
    </div>
    <div style="width: 50%;float:right;">
        <form action="/interest_app" method="POST">
            <div class = "submit-context">
                <p><strong> Put Apartment id to add interests :</strong></p> <input type="text" class="login-field" value="" placeholder="apartment_id" name="apartment_id">
                <input type="submit" value="Add Interest" class="btn btn-primary btn-large btn-block">
            </div>
        </form>
    </div>
</div>

</html>